#booking-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f1f2;
  background-size: cover;
  height: 92vh;
}

#bookings-card {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-height: 50%;
  height: fit-content;
  width: 50%;
  border-radius: 10px;
}

#book-title {
  margin-top: 20px;
  color: black;
}

.booktrip-container {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #F0F1F2;
  padding: 5px;
  margin-bottom: 10px;
  width: 95%;
}