body {
  margin: 0;
}

h1,
h3 {
  margin: 0;
  margin-bottom: 20px;
  color: white;
}

#header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
}

#logo-img {
  color: #469E86;
  margin-left: 20px;
}

.item-nav {
  margin-left: 20px;

  margin-right: 20px;
}

#bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/background-rails.jpg');
  background-size: cover;
  height: 92vh;
}

#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#search-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-right: 60px;
  height: 300px;
  width: 300px;
}

#cities-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 80%;
}

#departure-input {
  font-size: 15px;
  border: 0px;
  width: 100%;
  background-color: #F0F1F2;
  padding: 5px;
  border-radius: 5px;
}

#arrival-input {
  font-size: 15px;
  border: 0px;
  width: 100%;
  background-color: #F0F1F2;
  padding: 5px;
  border-radius: 5px;
}

#calandar-input {
  border: none;
  width: 80%;
  margin-bottom: 80px;
  background-color: #F0F1F2;
  padding: 5px;
  border-radius: 5px;
}

#search-btn {
  border-radius: 5px;
  background-color: #469E86;
  height: 30px;
  width: 90%;
  border: none;
  color: white;
  cursor: pointer;
}

#result-card {
  overflow: auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-left: 60px;
  padding: 10px 10px 5px;
  height: 300px;
  width: 300px;
}

#train-img {
  margin-top: 50px;
  width: 100px;
  opacity: 0.8;
}

hr {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  height: 1px;
  background-color: #4D9980;
}

#cities-line {
  border: none;
  height: 1px;
  background-color: black;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#desc-trip-txt {
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-stretch: expanded;
}

.result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F1F2;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  height: 40px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.book-btn {
  background-color: #4D9980;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}